<h1 class="page-title">General</h1>


<section class="contact-data-block">
  <div class="contact-data-block__wrapper">
    <div class="contact-data-block__item">
      <span>Date of birth: </span>
      <span>1	April	1988</span>
    </div>
    <div class="contact-data-block__item">
      <span>Direct	phone:</span>
      <span>+38	063	704	76	40</span>
    </div>

    <div class="contact-data-block__item">
      <span>E-mail</span>
      <span>burkun.anton@gmail.com</span>
    </div>

    <div class="contact-data-block__item">
      <span>Skype:</span>
      <span>tony___1988</span>
    </div>

    <div class="contact-data-block__item">
      <span>GitHub:</span>
      <span>github.com/TonyBurkun</span>
    </div>
  </div>
</section>

<section class="summary-qualification-block">
  <h2 class="section-title">Summary	of Qualifications</h2>
  <p>
    Resourceful Technical Project Manager skilled in streamlining operations and maintaining
    schedules to ensure maximum customer satisfaction. Organized and detail-oriented with
    proactive and hard-working nature.
  </p>
  <p>
    Motivated with solid experience managing all levels of large-scale projects.
    Skilled with experience in the IT industry. Familiar with computer systems.
  </p>
  <p>
    Also, I have 3+ years of solid experience testing mobile and web-based applications.Proficient in
    software development life cycle including test strategy preparation, test plan development,
    test cases creation, tests execution and bugs tracking. Applications testing in Waterfall and
    Agile development processes.
  </p>

</section>


<section>
  <h2 class="section-title">Education</h2>

  <div class="education-item">
    <span class="line">
      <span class="line--bold">
        Nov. 2018
      </span>
      Udacity
    </span>

    <span class="line">
      <span class="line--bold">
        Certificate:
      </span>
      « React JS, React Native -- Nanodegree Program»
    </span>
  </div>

  <div class="education-item">
    <span class="line">
      <span class="line--bold">
        Jan. 2017
      </span>
      Udemy
    </span>

    <span class="line">
      <span class="line--bold">
        Certificate:
      </span>
      « Build	Responsive	Website»
    </span>
  </div>

  <div class="education-item">
    <span class="line">
      <span class="line--bold">
        May.	2017
      </span>
      Udemy
    </span>

    <span class="line">
      <span class="line--bold">
        Certificate:
      </span>
      «JavaScript. Understanding	the	Weird Parts»
    </span>
  </div>


  <div class="education-item">
    <span class="line">
      <span class="line--bold">
        2010-2012
      </span>
     Odessa	National	Polytechnic	University
    </span>

    <span class="line">
      <span class="line--bold">
        Specialty:
      </span>
      «Information	technology»
    </span>

    <span class="line">
      <span class="line--bold">
        Diploma:
      </span>
     Master's	degree
    </span>
  </div>

  <div class="education-item">
    <span class="line">
      <span class="line--bold">
        2010-2012
      </span>
     Odessa	National	Polytechnic	University
    </span>

    <span class="line">
      <span class="line--bold">
        Specialty:
      </span>
      «Applied	Mathematics»
    </span>

    <span class="line">
      <span class="line--bold">
        Diploma:
      </span>
     Bachelor's	degree
    </span>
  </div>
</section>

<section>
  <h2 class="section-title">Languages</h2>
  <div class="language-item">
    <span class="line">
      <span class="line--bold">English</span>
      (Upper-intermediate)
    </span>
  </div>

  <div class="language-item">
    <span class="line">
      <span class="line--bold">Russian</span>
      (Native)
    </span>
  </div>

  <div class="language-item">
    <span class="line">
      <span class="line--bold">Ukraine</span>
      (Fluent)
    </span>
  </div>
</section>

<section>
  <h2 class="section-title">Location</h2>
  <app-map></app-map>
</section>


