
<mat-accordion class="work-exp-accordion">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mar. 2017 - Present
      </mat-panel-title>
      <mat-panel-description>
        STAIRWAY	SOFT,	Odessa,	Ukraine
      </mat-panel-description>
    </mat-expansion-panel-header>


    <div class="accordion-item-body">
      <span class="sub-title">Project Manager</span>

      <p>
        Resourceful Technical Project Manager skilled in streamlining operations and maintaining schedules to ensure maximum customer satisfaction.
        Organized and detail-oriented with proactive and hard-working nature.
        Motivated with solid experience managing all levels of large-scale projects.
        Skilled with experience in the IT industry. Familiar with computer systems.
      </p>

    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Jun.	2018 – Nov. 2018
      </mat-panel-title>
      <mat-panel-description>
        UDACITY. NANODEGREE PROGRAM
      </mat-panel-description>
    </mat-expansion-panel-header>


    <div class="accordion-item-body">
      <span class="sub-title">Technologies:</span>
      <ul>
        <li>React JS</li>
        <li>Redux</li>
        <li>React Native</li>
        <li>ES6</li>
        <li>Git</li>
      </ul>

      <span class="sub-title">Program projects:</span>
      <ul>
        <li><a href="https://github.com/TonyBurkun/Would_you_rather" target="_blank">https://github.com/TonyBurkun/Would_you_rather</a></li>
        <li><a href="https://github.com/TonyBurkun/mobile-flash-cards" target="_blank">https://github.com/TonyBurkun/mobile-flash-cards</a></li>
      </ul>

    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        July	– November 2017
      </mat-panel-title>
      <mat-panel-description>
        PROVECTUS.	Traineeship
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="accordion-item-body">
      <span class="sub-title">Technologies:</span>
      <ul>
        <li>React	JS/	Redux</li>
        <li>JavaScript/ES6</li>
        <li>HTML5/CSS3/SASS</li>
        <li>Bootstrap</li>
        <li>Git</li>
        <li>RESTful	API</li>
      </ul>

      <p><a href="https://prod-interviewer.herokuapp.com/" target="_blank">https://prod-interviewer.herokuapp.com/</a></p>

      <span class="strong-font">HR</span>
      <p><span class="strong-font">login: </span>	 hr@provectus.com</p>
      <p><span class="strong-font">pass: </span>123456</p>

      <span class="strong-font">INTERVIEWER</span>
      <p><span class="strong-font">login: </span>	 user@provectus.com</p>
      <p><span class="strong-font">pass: </span>123456</p>


    </div>

  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Mar. 2016 – Feb. 2017
      </mat-panel-title>
      <mat-panel-description>
        SOFTINTOUCH	Dev.	Group
      </mat-panel-description>
    </mat-expansion-panel-header>


    <div class="accordion-item-body">
      <span class="sub-title">Technologies:</span>
      <ul>
        <li>HTML5/CSS3/SASS</li>
        <li>Bootstrap</li>
        <li>JavaScript</li>
        <li>Gulp</li>
        <li>Git</li>
        <li>jQuery</li>
      </ul>

      <ol>
        <li>
          <p>
            Development	of	the	web	application which	allows	selling/buying
            development	time between	members	of	the	team.
          </p>
        </li>
        <li>
          <p>Creating	landing	pages</p>
          <ul>
            <li><a href="https://omnifood-3702d.firebaseapp.com/" target="_blank">https://omnifood-3702d.firebaseapp.com/</a></li>
            <li><a href="https://wanna-pet.firebaseapp.com/" target="_blank">https://wanna-pet.firebaseapp.com/</a></li>
            <li><a href="https://hyperloop-36815.firebaseapp.com/" target="_blank">https://hyperloop-36815.firebaseapp.com/</a></li>
            <li><a href="https://oxxo-9ab82.firebaseapp.com/" target="_blank">https://oxxo-9ab82.firebaseapp.com/</a></li>
            <li><a href="https://unique-tech-864de.firebaseapp.com/" target="_blank">https://unique-tech-864de.firebaseapp.com/</a></li>
          </ul>

        </li>
      </ol>
    </div>

  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Nov.	2012 – Mar. 2017
      </mat-panel-title>
      <mat-panel-description>
        STAIRWAY	SOFT,	Odessa,	Ukraine
      </mat-panel-description>
    </mat-expansion-panel-header>


    <div class="accordion-item-body">
      <span class="sub-title">QA	Engineer</span>
       <p>
         I	have	3+	years	of	solid	experience	testing	mobile	and	web-based	applications.
         Proficient	in	software	development	life	cycle	including	test	strategy
         preparation,	test	plan	development,	test	cases	creation,	tests	execution	and
         bugs	tracking.
       </p>


    </div>

  </mat-expansion-panel>
</mat-accordion>
