<h1 class="page-title">Skills</h1>

<section class="skills-lang">
  <div class="skills-lang__wrapper">
    <div class="text-block">
     <div>
       <h3 class="block-title">Languages</h3>
       <ul class="lang-list">
         <li>HTML5 -- 1.5 years</li>
         <li>CSS3/SASS -- 1.5 years</li>
         <li>JavaScript -- 1 year</li>
         <li>JSON</li>
         <li>SQL</li>
       </ul>
     </div>

      <div>
        <h3 class="block-title">Frameworks/Libraries</h3>
        <ul class="lang-list">
          <li>jQuery -- 1 years</li>
          <li>Bootstrap -- 1.5 years</li>
          <li>React JS/Redux -- 1 years</li>
          <li>React Native -- 0.5 years</li>
        </ul>
      </div>

      <div>
        <h3 class="block-title">Methodologies</h3>
        <ul class="lang-list">
          <li>Agile/Scrum</li>
          <li>Kanban</li>
          <li>BEM</li>
        </ul>
      </div>
    </div>
    <app-radar-chart class="chart-block"></app-radar-chart>
  </div>

</section>

<section class="dev-tools-section">
  <h2 class="section-title section-title--center">Development Tools</h2>
  <div class="logos-block">
    <div class="logo-item item-1" matTooltip="WebStorm"></div>
    <div class="logo-item item-2" matTooltip="Sublime"></div>
    <div class="logo-item item-3" matTooltip="Jira"></div>
    <div class="logo-item item-4" matTooltip="MeisterTask"></div>
    <div class="logo-item item-5" matTooltip="Gulp"></div>
    <div class="logo-item item-6" matTooltip="Git"></div>
    <div class="logo-item item-7" matTooltip="GitHub"></div>
    <div class="logo-item item-8" matTooltip="Bitbucket"></div>
    <div class="logo-item item-9" matTooltip="Adobe Photoshop"></div>
    <div class="logo-item item-10" matTooltip="Avocode"></div>
    <div class="logo-item item-11" matTooltip="Zeplin"></div>
    <div class="logo-item item-12" matTooltip="Postman"></div>
    <div class="logo-item item-13" matTooltip="Navicat"></div>
    <div class="logo-item item-14" matTooltip="Heroku"></div>
    <div class="logo-item item-15" matTooltip="Firebase"></div>
    <div class="logo-item item-16" matTooltip="Parallels"></div>
    <div class="logo-item item-17" matTooltip="VirtualBox"></div>
  </div>
</section>
